*{
    box-sizing: border-box;
}
form{
    background-color:rgb(223, 157, 157);
    padding: 0.5em;
    width: 60%;
}
input ,select{
    display: block;
    margin: 0.5em;
}
input[type=text] {
    width: 95%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1em 2em;
}
input[type=submit] {
    width: 95%;
    background-color: rgb(83,171,88);
    color: white;
    font-size: 1.2em;
    padding: 0.3em;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(172, 46, 8);
}
select{
    width: 95%;
    color: royalblue;
    background-color: sandybrown;
    padding: 0.5em;
    font-size: 1.1em;
    text-align: center;
}
option{
    color: skyblue;
    background-color: teal;
}